.intro{ 
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    height: 200px;
}
.head-1{
    text-align: center;
    color: crimson;
}
.notes{ 
    color: darkgreen;
}
.main{
    background-color: gainsboro;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 600px;
    height: 200px;
}
.head-2{
    text-align: center;
    color: darkviolet;
}
.conclude{
    background-color: deeppink;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 700px;
    height: 200px;
}
.head-3{
     text-align:center ;
     color: gold;
}
